{% extends "base_generic.html" %}

{% block content %}
  <h1>Email tracking home page</h1>
  <p>Welcome to Email tracking site, a website developed by <em>Dainis Berzins</em>!</p>
  {% load static %}
  <img src="{% static 'images/email_tracking_image.jpg' %}" alt="Email image" style="width:700px;height:408px;" />
  <h2>New release 0.2: Dynamic content</h2>
  <p>The website has the following record counts:</p>
  <ul>
    <li><strong>Emails:</strong> {{ num_email_clicks }}</li>
    <li><strong>subject:</strong> {{ subject }}</li>
    <li><strong>from_email:</strong> {{ from_email }}</li>
    <li><strong>to:</strong> {{ to }}</li>
    <li><strong>text_content:</strong> {{ text_content }}</li>
    <li><strong>msg_result:</strong> {{ msg_result }}</li>
  </ul>
{% endblock %}